.entry {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.entry-left > div > p {
  margin-left: 10px;
}
.entry-actions > div > button {
  height: 20px;
  width: 20px;
}
.entry-actions > div > button:hover {
  background-color: #e6e6e6;
}
.entry-actions {
  margin-right: 10px;
}
